<div class="main-content center-column">
  <img
    src="assets/app_banner.png"
    alt="app banner"
    class="dashboard-element app-banner" />
  <p class="mat-headline-6 italic">
    "Step into the extraordinary with Time Travel Agency, the premier leaders in
    time-travel experiences. Being the best is not just a goal, it's our
    standard." - <span class="mat-subtitle-1">Bastian Chollet (CEO)</span>
  </p>
  <mat-card class="dashboard-element create-card">
    <mat-card-content class="start-row">
      <img
        class="card-image"
        mat-card-image
        src="assets/travels.jpg"
        alt="map picture" />
      <div class="card-padding">
        <p class="mat-headline-5">
          Begin Crafting Time Journeys Now! Your Adventure Awaits 🚀✨
        </p>
        <button mat-fab color="primary" aria-label="plus icon">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </mat-card-content>
  </mat-card>
  <div class="info-cards start-row">
    <mat-card>
      <img
        class="card-image"
        mat-card-image
        src="assets/destination.jpg"
        alt="map with strings illustrating travels" />
      <mat-card-content class="card-padding">
        <p class="mat-headline-4">Destinations</p>
        <p class="mat-subtitle-1">
          Explore every era, relive history's defining moments! With our time
          travel app, journey through time and witness extraordinary events.
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <img
        class="card-image"
        mat-card-image
        src="assets/guide.jpg"
        alt="playmobil on a hike" />
      <mat-card-content class="card-padding">
        <p class="mat-headline-4">Fearless Guides</p>
        <p class="mat-subtitle-1">
          Meet our fearless time travel guides - your key to extraordinary
          adventures through the ages. Uncover the past, glimpse the future, all
          with the courage of our expert companions.
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
