<div class="main">
  <p class="mat-headline-5">Plan a journey</p>
  <form *ngIf="!loadingData">
    <mat-form-field class="full-input">
      <mat-label>Client</mat-label>
      <mat-select>
        <ng-container *ngFor="let client of info.clients">
          <mat-option [value]="client.id"
            >{{ client.firstname }} {{ client.lastname }}</mat-option
          >
        </ng-container>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="full-input">
      <mat-label>Historical Period</mat-label>
      <mat-select>
        <ng-container *ngFor="let period of info.historicalPeriods">
          <mat-option [value]="period.id">{{ period.name }}</mat-option>
        </ng-container>
      </mat-select>
    </mat-form-field>
    <table class="full-input" cellspacing="0">
      <tr>
        <td>
          <mat-form-field class="cell-input">
            <mat-label>Departure Date</mat-label>
            <input matInput />
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="cell-input">
            <mat-label>Arrival Date</mat-label>
            <input matInput />
          </mat-form-field>
        </td>
      </tr>
    </table>
    <table class="full-input" cellspacing="0">
      <tr>
        <td>
          <mat-form-field class="cell-input">
            <mat-label>Guide</mat-label>
            <mat-select>
              <ng-container *ngFor="let guide of info.guides">
                <mat-option [value]="guide.id">{{ guide.surname }}</mat-option>
              </ng-container>
            </mat-select>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="cell-input">
            <mat-label>Life insurance</mat-label>
            <mat-select>
              <ng-container *ngFor="let insurance of info.lifeInsurances">
                <mat-option [value]="insurance.id">{{
                  insurance.title
                }}</mat-option>
              </ng-container>
            </mat-select>
          </mat-form-field>
        </td>
      </tr>
    </table>
  </form>
</div>
