<div class="main">
  <p class="mat-headline-5">Plan a journey</p>
  <form>
    <mat-form-field class="full-input">
      <mat-label>Client</mat-label>
      <mat-select>
        <mat-option value="option1">Bastian</mat-option>
        <mat-option value="option2" disabled>Elliot</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="full-input">
      <mat-label>Historical Period</mat-label>
      <mat-select>
        <mat-option value="option1">World War I</mat-option>
        <mat-option value="option2" disabled>Medieval Europe</mat-option>
        <mat-option value="option3">Roaring Twenties</mat-option>
      </mat-select>
    </mat-form-field>

    <table class="full-input" cellspacing="0">
      <tr>
        <td>
          <mat-form-field class="cell-input">
            <mat-label>Departure Date</mat-label>
            <input matInput />
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="cell-input">
            <mat-label>Arrival Date</mat-label>
            <input matInput />
          </mat-form-field>
        </td>
      </tr>
    </table>

    <table class="full-input" cellspacing="0">
      <tr>
        <td>
          <mat-form-field class="cell-input">
            <mat-label>Guide</mat-label>
            <mat-select>
              <mat-option value="option1">Fabien</mat-option>
              <mat-option value="option2" disabled>Yassoun</mat-option>
              <mat-option value="option3">JHH</mat-option>
            </mat-select>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="cell-input">
            <mat-label>Life insurance</mat-label>
            <mat-select>
              <mat-option value="option1">NONE</mat-option>
              <mat-option value="option2" disabled>BASIC</mat-option>
              <mat-option value="option3">LIMITED</mat-option>
            </mat-select>
          </mat-form-field>
        </td>
      </tr>
    </table>
  </form>
</div>
